.Controls {
  display: flex;
  width: 100%;
  flex-flow: row no-wrap;
  justify-content: space-between;
  font-size: 12px;
}

.Controls .transactionStatus {
  min-width: 1px;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  text-align: justify;
  max-width: 400px;
  padding-top: 17px;
}

.Controls .buttons {
  display: flex;
  justify-content: space-around;
}

.Controls .buttons button {
  margin-left: 24px;
  font-size: 10px;
}
